<!-- Responsive Dropdown Sidebar Menu  -->
<!-- https://www.youtube.com/watch?v=ES8vJcUqE7s&list=WL -->
<div class="sidebar">
    <div class="logo-details">
        <i class="uil uil-server-alt"></i>
        <span class="logo_name">臺南鑑識平台</span>
    </div>
    <ul class="nav-links">
        <li class="nav-link">
            <div class="main">
                <i class="uil uil-columns"></i>
                <span class="link_name">公佈欄</span>
            </div>
            <ul class="subs">
                <li><a href="#">宣導事項</a></li>
                <li><a href="#">評核成績</a></li>
                <li><a href="#">評核規定</a></li>
            </ul>
        </li>
        <li class="nav-link">
            <div class="main">
                <i class="uil uil-columns"></i>
                <span class="link_name">新增案件</span>
            </div>
            <ul class="subs">
                <li><a href="#">新增紀錄</a></li>
                <li><a href="#">修改</a></li>
                <li><a href="#">證物管理</a></li>
            </ul>
        </li>
        <li class="nav-link">
            <div class="main">
                <i class="uil uil-columns"></i>
                <span class="link_name">案件查詢</span>
            </div>
            <ul class="subs">
                <li><a href="#">基本查詢</a></li>
                <li><a href="#">進階查詢</a></li>
            </ul>
        </li>
        <li class="nav-link">
            <div class="main">
                <i class="uil uil-columns"></i>
                <span class="link_name">報表製作</span>
            </div>
            <ul class="subs">
                <li><a href="#">一般勘察</a></li>
                <li><a href="#">汽機車</a></li>
                <li><a href="#">溯源</a></li>
            </ul>
        </li>
        <li class="nav-link">
            <div class="main">
                <i class="uil uil-columns"></i>
                <span class="link_name">人員管理</span>
            </div>
            <ul class="subs">
                <li><a href="#">新增人員</a></li>
                <li><a href="#">人員設定</a></li>
            </ul>
        </li>
    </ul>
    <div class="profile-details">
        <div class="profile-content">
            <img src="../../../assets/account.gif" alt="帳號">
        </div>
        <div class="name-rank">
            <div class="profile-name">{{name}}</div>
            <div class="profile-rank">{{rank}}</div>
        </div>
        <div class="logout" (click)="onLogout()"><i class="lnr lnr-exit" href="#"></i></div>
    </div>
</div>


<!-- <div class="sidebar">
    <div class="logo-details">
        <i class="uil uil-server-alt"></i>
        <span class="logo_name">臺南鑑識平台</span>
    </div>
    <ul class="nav-links">
        <li class="nav-link">
            <div>
                <a href="#">
                    <i class="uil uil-columns"></i>
                    <span class="link_name">Category</span>
                </a>
            </div>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Category</a></li>
            </ul>
        </li>
        <li class="nav-link">
            <div class="nav-link-row">
                <a href="#">
                    <i class="uil uil-apps"></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <i class="uil uil-angle-down arrow"></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Category</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Web Design</a></li>
            </ul>
        </li>
        <li class="nav-link">
            <div class="nav-link-row">
                <a href="#">
                    <i class="uil uil-apps"></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <i class="uil uil-angle-down arrow"></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Category</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Web Design</a></li>
            </ul>
        </li>
        <li class="nav-link">
            <div>
                <a href="#">
                    <i class="uil uil-columns"></i>
                    <span class="link_name">Category</span>
                </a>
            </div>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Category</a></li>
            </ul>
        </li>
        <li class="nav-link">
            <div>
                <a href="#">
                    <i class="uil uil-chart-line"></i>
                    <span class="link_name">Chart</span>
                </a>
            </div>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Chart</a></li>
            </ul>
        </li>
        <li class="nav-link">
            <div>
                <a href="#">
                    <i class="uil uil-setting"></i>
                    <span class="link_name">Setting</span>
                </a>
            </div>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Setting</a></li>
            </ul>
        </li>
        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <img src="../../../assets/account.gif" alt="帳號">
                </div>
                <div class="name-rank">
                    <div class="profile-name">{{name}}</div>
                    <div class="profile-rank">{{rank}}</div>
                </div>
                <div class="logout"><i class="lnr lnr-exit" href="#"></i></div>
            </div>
        </li>
    </ul>
</div> -->